body {
    margin 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

.campaign {
    text-align: center;
    padding: 10px 265px 10px 265px;
    color: white;
}

.campaign h1 {
    font-size: 55px;
}

.header-campaign {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 100px;

}

.contribute-button {
    text-decoration: none;
    background-color: #ed0202fa;
    padding: 10px 14px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.campaign p {
    padding: 0px 150px 20px;
}


.donet-heading {
    margin: auto;
    width: 50%;
    text-align: center;
}

.donet-heading h1 {
    color: black;
    font-size: 35px;
}

.amount {
    margin: auto;
    width: 67%;
    display: flex;
    padding: 20px;
    font-size: 30px;

}

.first-amount {
    padding: 30px;
    background-color: #dcdcdc2e;
    color: slategray;
    margin-right: 25px;
    border-radius: 5px;
}

.second-amount {
    padding: 30px;
    background-color: #db7b7b30;
    color: slategray;
    margin-right: 25px;
    color: #ff3333;
    border: 3px solid #ff4d4d;
    border-radius: 5px;
}

.third-amount {
    padding: 30px;
    background-color: #dcdcdc2e;
    color: slategray;
    margin-right: 25px;
    border-radius: 5px;
}

.fourth-amount {
    padding: 30px;
    background-color: #dcdcdc2e;
    color: slategray;
    margin-right: 25px;
    border-radius: 5px;
}

.fifth-amount {
    padding: 30px;
    background-color: #dcdcdc2e;
    color: slategray;
    margin-right: 25px;
    border-radius: 5px;
}

.final-amount {
    padding: 10px 150px;
    text-align: center;
}

.donate-summery {
    display: flex;
    padding: 10px 150px;
    margin-right: 20px;
    border-radius: 10px;

}

.food {
    width: 350px;
    height: 300px;
    background-color: #d0e9e08a;
    margin-right: 20px;
    border-radius: 10px;
}

.home {
    width: 350px;
    height: 300px;
    background-color: #eed2e0;
    margin-right: 20px;
    border-radius: 10px;
}

.education {
    width: 350px;
    height: 300px;
    background-color: #f7ebc78a;
    margin-right: 20px;
    border-radius: 10px;
}

.icon {
    padding: 30px 18px;
}